html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-bottom: 32px;
}

main {
    position: relative;
    height: 100%;
}

.aligner {
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligner-item {
    flex: 1;
}

.aligner-item--top {
    align-self: flex-start;
}

.aligner-item--bottom {
    align-self: flex-end;
}

.aligner-item--fixed {
    flex: none;
}

.drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

nav {
    position: fixed;
    top: 0;
    height: 32px;
    line-height: 32px;

    li {
        -webkit-app-region: no-drag;
        cursor: pointer;

        &.close:hover {
            background-color: color('materialize-red', 'lighten-1') !important;
        }

        &:hover {
            background-color: $colorGrey !important;
        }
    }

    .nav-wrapper i {
        height: 32px;
        line-height: 32px;
        font-size: 1rem;
    }

    .brand-logo {
        font-size: 1rem;
    }
}

.app-tabs {
    z-index: 999;
    position: fixed;
    top: 32px;
    width: 100%;
    margin: 0;
    .col {
        padding: 0;
    }
}

.container {
    height: 100%;
}

#toast-container {
    left: 0;
    right: 0;
    text-align: center;

    .toast {
        float: none;
        display: inline-block;
    }
}

$heroHeight: 115px / 2;
$heroWidth: 205px / 2;

.collapsible.players {
    .collapsible-header {
        .material-icons {
            position: relative;
            top: 6px;
        }
    }

    .collapsible-body {
        padding: 15px;

        &>div {
            display: inline-block;
            position: relative;
            height: $heroHeight;
            width: $heroWidth;

            img {
                position: absolute;
                height: $heroHeight;
                width: $heroWidth;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            div {
                font-size: 12px;
                padding: 2px;
                width: $heroWidth;
                position: absolute;
                bottom: 0;
                &.won {
                    background: rgba(0, 135, 0, 0.7);
                }
                &.lost {
                    background: rgba(135, 0, 0, 0.7);
                }
            }
        }

        span {
            display: block;
        }
    }
}

.update {
    ul {
        list-style: disc inside;
    }
    ol {
        list-style: decimal inside;
    }
    ul ul, ol ul {
        list-style: circle inside;
        margin-left: 15px;
    }
    ol ol, ul ol {
        list-style: lower-latin inside;
        margin-left: 15px;
    }
    li {
        list-style-type: inherit;
    }
    h1 { font-size: $h1-fontsize * 0.5; }
    h2 { font-size: $h2-fontsize * 0.5; }
    h3 { font-size: $h3-fontsize * 0.5; }
    h4 { font-size: $h4-fontsize * 0.5; }
    h5 { font-size: $h5-fontsize * 0.5; }
    h6 { font-size: $h6-fontsize * 0.5; }
}

.hidden {
    display: none !important;
}

.dota-timer {
    .content-container {
        position: absolute;
        height: 300px;
        img {
            height: 150px;
            width: 150px;
            left: 0;
            right: 0;
            top: 75px;
            bottom: 0;
            margin: 0 auto;
            position: absolute;
            opacity: 0;
        }
    }
    .timer-progress {
        height: 300px;
    }
    .timer-progress > svg {
        height: 100%;
        display: block;
    }
}
