@charset "UTF-8";

// Mixins
@import "components/_prefixer";
@import "components/_mixins";
@import "components/_color";

// Variables;
@import "components/_variables";

// Reset
@import "components/_normalize";

// components
@import "components/_global";
@import "components/_icons-material-design";
@import "components/_grid";
@import "components/_navbar";
@import "components/_roboto";
@import "components/_typography";
@import "components/_cards";
@import "components/_toast";
@import "components/_tabs";
@import "components/_tooltip";
@import "components/_buttons";
@import "components/_dropdown";
@import "components/_waves";
@import "components/_modal";
@import "components/_collapsible";
@import "components/_materialbox";
@import "components/_form";
@import "components/_table_of_contents";
@import "components/_sideNav";
@import "components/_preloader";
@import "components/_slider";
@import "components/date_picker/_default";
@import "components/date_picker/_default.date.scss";
@import "components/date_picker/_default.time.scss";

@import "theme";
@import "main";
